html {
  font-family: 'Barlow', sans-serif;
  color: #bbb;
  background: #ddd;
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  text-align: center;
  font-family: courier;
}

@charset "UTF-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.topbar {
  height: 40px;
  background: #F8CEAA;
}

.topbar li {
  display: inline;
}

.topbar li:not(:last-child)::after {
  content: " •";
  color: #666;
  margin: 0 .25rem;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topbar h1 {
  display: inline;
  font-size: 2rem;
  font-weight: 400;
  color: #f8f8f8;
  margin: 0;
  line-height: 40px;
  padding-left: 1rem;
}

.section {
  padding: 1rem;
}

.display {
  width: calc(100% - 200px);
  text-align: center;
  bottom: 0;
  position: fixed;
  left: 0;
  top: 40px;
  bottom: 0;
}

.wrap {
  position: relative;
  display: inline-block;
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loader {
  position: absolute;
  top: 50%;
}

.loader {
  position: absolute;
  filter: url("#goo");
  top: calc(50% - 15px);
  left: calc(50% - 45px);
  height: 30px;
  width: 90px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 30px;
}

.circle:first-child {
  animation: a1 1200ms ease-out infinite;
}

.circle:last-child {
  animation: a2 1200ms ease-out infinite;
}

.circle:nth-child(2) {
  animation: a3 1200ms ease-out infinite;
}

.circle:nth-child(3) {
  animation: a4 1200ms ease-out infinite;
}

.canvas1 {
  max-width: 95%;
  max-height: 95%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.canvas2 {
  display: none;
}

.controls {
  position: fixed;
  top: 40px;
  right: 0;
  bottom: 0;
  width: 200px;
  background: #333;
  padding: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid #444;
}

.controls h3 {
  color: #f8f8f8;
  padding: .5rem 1rem;
  margin: 0;
  font-weight: 600;
}

.fieldgroup {
  padding: 1rem;
  background: #222;
}

.row {
  margin: 0 -0.5rem;
}

.row:before, .row:after {
  content: '';
  display: table;
}

.row:after {
  clear: both;
}

._50 {
  float: left;
  padding: 0 0.5rem;
  width: 50%;
}

label {
  display: block;
}

input[type=text], input[type=number], input[type=range], select {
  display: block;
  width: 100%;
}

input[type=text], input[type=number], select {
  height: 2rem;
  line-height: 2rem;
  padding: 0 .5rem;
  background: #fff;
  border: none;
  margin-bottom: .75rem;
}

/*
button {
  outline: none;
  cursor: pointer;
  border: none;
}
a {
  color: #5ad;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button, .button {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to bottom right, #D84155, #882963);
  padding: 0.6rem;
  color: #fff;
  border-radius: 2px;
  width: 100%;
}

button:hover, .button:hover {
  background: linear-gradient(to bottom right, #e16b7b, #af3580);
}

.footer {
  position: absolute;
  color: #888;
  bottom: 2rem;
  width: 100%;
  font-size: .9em;
  text-align: center;
}

@keyframes a1 {
  0% {
    transform: translateX(0);
  }
  6% {
    transform: translateX(-3.75px) scale(0.75);
  }
  24%, 30% {
    transform: translateX(-15px) scale(0.65);
  }
  36% {
    transform: translateX(-15px) scale(0.5);
  }
  60%, 70% {
    transform: translateX(-15px) scale(0.4);
  }
  85% {
    transform: translateX(-3.75px) scale(0.9);
  }
  90% {
    transform: translateX(0);
  }
}

@keyframes a2 {
  0% {
    transform: translateX(0);
  }
  6% {
    transform: translateX(-3.75px) scale(0.75);
  }
  24%, 30% {
    transform: translateX(-15px) scale(0.65);
  }
  36% {
    transform: translateX(-22.5px) scale(0.5);
  }
  60%, 70% {
    transform: translateX(-45px) scale(0.4);
  }
  85% {
    transform: translateX(-3.75px) scale(0.9);
  }
  90% {
    transform: translateX(0);
  }
}

@keyframes a3 {
  0% {
    transform: translateX(0);
  }
  6% {
    transform: translateX(3.75px) scale(0.75);
  }
  24%, 30% {
    transform: translateX(15px) scale(0.65);
  }
  36% {
    transform: translateX(22.5px) scale(0.5);
  }
  60%, 70% {
    transform: translateX(45px) scale(0.4);
  }
  85% {
    transform: translateX(3.75px) scale(0.9);
  }
  90% {
    transform: translateX(0);
  }
}

@keyframes a4 {
  0% {
    transform: translateX(0);
  }
  6% {
    transform: translateX(3.75px) scale(0.75);
  }
  24%, 30% {
    transform: translateX(15px) scale(0.65);
  }
  36% {
    transform: translateX(15px) scale(0.5);
  }
  60%, 70% {
    transform: translateX(15px) scale(0.4);
  }
  85% {
    transform: translateX(3.75px) scale(0.9);
  }
  90% {
    transform: translateX(0);
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
